*.zip
*.log

# IntelliJ
/out/
.idea/
*.iml
*.iws
bin

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#Maven
target/
/build/

dependency-reduced-pom.xml
config_developer.yml
debug.properties

# vscode
.vscode/
.settings/
.project
.classpath
.vs

# python
/venv
*.pyc
__pycache_
/dist/
/*.egg-info
.eggs
TEST-nosetests.xml
.pydevproject
nosetests.xml
.coverage
